<style>
        body {
            font-size: 12px;
        }
        h2 {
            color: rgb(0, 232, 15);
            font-size: 1.5em;
        }  
        
        #rabbits-info-heading {
            background-color: purple;
        }
        
        p {
            color: rgb(191, 0, 255);
            font-family: "Helvetica", sans-serif;
        }
        
        #rabbits-info {
            color: purple;
            font-weight: bold;
            text-decoration: underline;
        }
        
        .song-lyrics {
            background-color: yellow;
            font-family: fantasy;
            font-size: 13px;
            font-style: italic;
            line-height: 1.5em;
            text-align: center;
        }
        
        a {
            text-decoration: none;
        }

     button{
             padding: 10px 20px;
             margin: 10px;
             font-size: 16px;
           }
        </style>
